[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=windows
Group=www-data
WorkingDirectory=/home/ubuntu/deploymodel
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/deploymodel/deploymodel/deploymodel.sock deploymodel.wsgi:application

       
[Install]
WantedBy=multi-user.target